SS01 - Cold Email Tracking Automation.json
{
  "name": "SS01 - Cold Email Tracking Automation",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Are you open to new client acquisition ideas?",
        "message": "=<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>MedSpa Cold Email</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style>\n      /* Mobile tweaks */\n      @media only screen and (max-width:620px){\n        .container { width:100% !important; }\n        .p-24 { padding:20px !important; }\n        .stack { display:block !important; width:100% !important; }\n        .center { text-align:center !important; }\n        .btn { width:100% !important; }\n      }\n      /* Preheader hide */\n      .preheader { display:none; visibility:hidden; opacity:0; color:transparent; height:0; width:0; overflow:hidden; mso-hide:all; }\n      a { color:#0b62ff; text-decoration:none; }\n    </style>\n  </head>\n  <body style=\"margin:0; padding:0; background:#f4f6f8;\">\n    <!-- Preheader (preview text) -->\n    <div class=\"preheader\">Filling calendars with qualified MedSpa appointments using smart automations.</div>\n\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#f4f6f8;\">\n      <tr>\n        <td align=\"center\" style=\"padding:24px;\">\n          <!-- Card -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"600\" class=\"container\" style=\"width:600px; max-width:600px; background:#ffffff; border-radius:12px; overflow:hidden; box-shadow:0 2px 12px rgba(16,24,40,.06);\">\n            <!-- Header -->\n            <tr>\n              <td style=\"padding:18px 24px; border-bottom:1px solid #eef2f7;\">\n                <table width=\"100%\" role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td class=\"stack\" style=\"vertical-align:middle;\">\n                      <a href=\"YOUR_WEBSITE_URL\">\n                        <img src=\"YOUR_LOGO_URL\" width=\"140\" height=\"40\" alt=\"Your Company\" style=\"display:block; border:0; max-width:140px; height:auto;\">\n                      </a>\n                    </td>\n                    <td class=\"stack center\" align=\"right\" style=\"font:14px/1.4 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#667085;\">\n                      Solutions for modern Medical Spas\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Hero -->\n            <tr>\n              <td class=\"p-24\" style=\"padding:24px;\">\n                <h1 style=\"margin:0 0 8px; font:600 22px/1.3 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#101828;\">\n                  Quick question about your MedSpa bookings\n                </h1>\n                <p style=\"margin:0; font:16px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#475467;\">\n                  Hi {{ $json['First Name'] }}, \n                </p>\n                <p style=\"margin:12px 0 16px; font:16px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#475467;\">\n                  We help medical spas consistently attract new <strong>high-value clients</strong>—without overspending on ads or adding workload to the front desk. Our lightweight automation system plugs into your current tools and starts working immediately.\n                </p>\n\n                <!-- Benefits -->\n                <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin:8px 0 14px;\">\n                  <tr>\n                    <td style=\"font:15px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#344054;\">\n                      ✅  Engages new leads instantly via SMS & email follow-ups<br>\n                      ✅  Cuts no-shows with intelligent reminders & confirmations<br>\n                      ✅  Gives your team time back to focus on clients\n                    </td>\n                  </tr>\n                </table>\n\n                <p style=\"margin:0 0 18px; font:16px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#475467;\">\n                  Would you be open to a quick <strong>10-minute call</strong> this week to see if this could work for your spa?\n                </p>\n\n                <!-- CTA Button (bulletproof) -->\n                <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"left\" class=\"btn\" style=\"margin:6px 0 18px;\">\n                  <tr>\n                    <td align=\"center\" bgcolor=\"#0b62ff\" style=\"border-radius:8px;\">\n                      <!--[if mso]>\n                      <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"YOUR_CALENDAR_LINK\" style=\"height:44px;v-text-anchor:middle;width:240px;\" arcsize=\"12%\" stroke=\"f\" fillcolor=\"#0b62ff\">\n                        <w:anchorlock/>\n                        <center style=\"color:#ffffff;font-family:Segoe UI, Arial, sans-serif;font-size:16px;font-weight:600;\">Book a 10-min Intro</center>\n                      </v:roundrect>\n                      <![endif]-->\n                      <a href=\"YOUR_CALENDAR_LINK\"\n                         style=\"background:#0b62ff;border-radius:8px;display:inline-block;padding:12px 20px;font:600 16px/1 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:#ffffff;text-decoration:none;mso-hide:all;\">\n                        Book a 10-min Intro\n                      </a>\n                    </td>\n                  </tr>\n                </table>\n\n                <!-- Signature -->\n                <p style=\"clear:both; margin:14px 0 0; font:16px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#475467;\">\n                  Best regards,<br>\n                  <strong>Your Name</strong><br>\n                  Your Company • <a href=\"YOUR_WEBSITE_URL\">Website</a><br>\n                  +1 (000) 000-0000\n                </p>\n              </td>\n            </tr>\n\n            <!-- Divider -->\n            <tr><td style=\"height:1px;background:#eef2f7;\"></td></tr>\n\n            <!-- Footer -->\n            <tr>\n              <td class=\"p-24\" style=\"padding:18px 24px 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td class=\"stack center\" style=\"font:12px/1.6 -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:#98a2b3;\">\n                      © Your Company · 123 Main St, City, ST 00000\n                      <br>\n                      <a href=\"{{unsubscribe_link}}\" style=\"color:#98a2b3; text-decoration:underline;\">Unsubscribe</a>\n                      ·\n                      <a href=\"YOUR_WEBSITE_URL/privacy\" style=\"color:#98a2b3; text-decoration:underline;\">Privacy</a>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n          </table>\n          <!-- /Card -->\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        0
      ],
      "id": "1ba388a9-8d54-4087-991c-2b7dd9c60c74",
      "name": "Send a message",
      "webhookId": "2ad0cf21-7706-427b-bafb-0657d23d2acd",
      "credentials": {
        "gmailOAuth2": {
          "id": "llLFhaP0cF4feMUd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw",
          "mode": "list",
          "cachedResultName": "Cold Email n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cold Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "c09e396a-0410-4f2b-b09f-854131e589de",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "8bmwqbuZhsAHKUh8",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a00cb27-e2bc-466e-91e9-aea114461d3b",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        16
      ],
      "id": "de95000e-c641-49a7-80b8-88a388f0dcc6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw",
          "mode": "list",
          "cachedResultName": "Cold Email n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cold Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIxiqM-t6GA0bvL1JsBL4Axkbc11oQQacM6SizNLgbw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent",
            "Email": "={{ $('Google Sheets Trigger').item.json.Email }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Analysis",
              "displayName": "AI Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "8f4505f0-7e54-4c1a-885a-3743f62d9707",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q7UubCgpsFQDv8Gy",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "271b22c3-b56a-4290-8be9-f2d219a6bc58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c4c446d5304742a3c3b35610a91a9314f8fa6e78abf59256949d198dc0f9226"
  },
  "id": "4kS2Tquev7gNy4nk",
  "tags": []
}